<div class="container" id="errorBox">
    <h2 class="infoHead">404 Error</h2>
    <h3>Please check your connection and try again</h3>
    <a href="/home"><button class="btn waves-effect waves-light">Go back</button></a>
</div>