<header>
    <!--Navbar-->
    <nav class="nav-wrapper" id="mainNavbar">
        <div class="container">
            <a href="#" class="brand-logo">Snatch off</a>
            <a href="#" class="sidenav-trigger" data-target="mobile-links">
                <i class="material-icons">menu</i>
            </a>
            <ul id="navbar-links" class="right hide-on-med-and-down">
                <li><a href="/home" class="homeLink lnk">Home</a></li>
                <li><a href="/profile" class="profileLink lnk">My profile</a></li>
            </ul>
        </div>
    </nav>

    <!--Navbar Phone Menu-->
    <div>
        <ul class="sidenav" id="mobile-links">
            <li><a href="/home" class="homeLink">Home</a></li>
            <li><a href="/profile" class="profileLink">My profile</a></li>
        </ul>
    </div>
</header>

<!--Main contact page box-->
<div class="container" id="contactBox">
    <h2 class="contactHead">Contact</h2>
    <h4>Awevbuedh</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium beatae quam, nulla doloribus possimus
        voluptas quia fuga! Facere, exercitationem assumenda modi repellat fuga minus officiis reprehenderit fugiat,
        labore nesciunt consequatur.
    </p>
    <h4>
        Ascsjhbsdcd
    </h4>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit minima nihil possimus tenetur rerum omnis
        temporibus ipsa. Odio a odit et incidunt iure molestias pariatur nobis, suscipit nihil, illo totam!
    </p>
</div>

<!--Footer-->
<footer id="footer" class="page-footer transparent" style="position:fixed;bottom:0;left:0;width:100%;">
    <div class="footer">
        <div class="container center" id="copyright">
            © 2019 Copyright
        </div>
    </div>
</footer>