<div class="container" id="loginPage">

    <div>
        <h1 class="loginLogo">Super tight logo</h1>
    </div>


    <div class="loginBox">
        <form id="loginInput">
            <h3>Username: </h3>
            <input id="username" class="inputLines">
            <br>
            <h3>Password: </h3>
            <input id="password" class="inputLines">
            <br>
            <a href="/home"><button type="button" onclick="getInfo()" class="btn waves-light">Log in</button></a>
        </form>
    </div>

</div>