<header>
    <!--Navbar-->
    <nav class="nav-wrapper" id="mainNavbar">
        <div class="container">
            <a href="#" class="brand-logo">Snatch off</a>
            <a href="#" class="sidenav-trigger" data-target="mobile-links">
                <i class="material-icons">menu</i>
            </a>
            <ul id="navbar-links" class="right hide-on-med-and-down">
                <li><a href="/home" class="homeLink lnk">Home</a></li>
                <li><a href="/profile" class="profileLink lnk">My profile</a></li>
            </ul>
        </div>
    </nav>

    <!--Navbar Phone Menu-->
    <div>
        <ul class="sidenav" id="mobile-links">
            <li><a href="/home" class="homeLink">Home</a></li>
            <li><a href="/profile" class="profileLink">My profile</a></li>
        </ul>
    </div>
</header>

<!--Main contact page box-->
<div class="container" id="endingBox">
    <h2 class="endingHead">You got locked up!</h2>
    <h3>Rough</h4>
        <hr>
        <h4>
            Please enter your name below to be featured!
        </h4>
        <input class="inputLines leaderboardName">
        <a href="/home"><button class="btn waves-effect waves-light doneBtn">Done</button></a>
</div>

<!--Footer-->
<footer id="footer" class="page-footer transparent" style="position:fixed;bottom:0;left:0;width:100%;">
    <div class="footer">
        <div class="container center" id="copyright">
            © 2019 Copyright
        </div>
    </div>
</footer>