<header>
    <!--Navbar-->
    <nav class="nav-wrapper transparent" id="mainNavbar">
        <div class="container">
            <a href="#" class="brand-logo">Super tight logo</a>
            <a href="#" class="sidenav-trigger" data-target="mobile-links">
                <i class="material-icons">menu</i>
            </a>
            <ul id="navbar-links" class="right hide-on-med-and-down">
                <li><a href="/home" class="homeLink lnk">Home</a></li>
                <li><a href="/contact" class="contactLink lnk">Contact Us</a></li>
            </ul>
        </div>
    </nav>

    <!--Navbar Phone Menu-->
    <div>
        <ul class="sidenav" id="mobile-links">
            <li><a href="/home" class="homeLink">Home</a></li>
            <li><a href="/contact" class="contactLink">Contact Us</a></li>
        </ul>
    </div>
</header>

<img src="https://i.imgur.com/UAb5Tk4.jpg" alt="">