<header>
    <!--Navbar-->
    <nav class="nav-wrapper" id="mainNavbar">
        <div class="container">
            <a href="#" class="brand-logo">Snatch off</a>
            <a href="#" class="sidenav-trigger" data-target="mobile-links">
                <i class="material-icons">menu</i>
            </a>
            <ul id="navbar-links" class="right hide-on-med-and-down">
                <li><a href="/home" class="homeLink lnk">Home</a></li>
                <li><a href="/contact" class="contactLink lnk">Contact Us</a></li>
            </ul>
        </div>
    </nav>

    <!--Navbar Phone Menu-->
    <div>
        <ul class="sidenav" id="mobile-links">
            <li><a href="/home" class="homeLink">Home</a></li>
            <li><a href="/contact" class="contactLink">Contact Us</a></li>
        </ul>
    </div>
</header>

<!--Main profile page box -->
<div class="container" id="profileBox">
    <h1 class="profileHead">
        Profile
    </h1>
    <h4 class="profileInfoText">
        Username:
    </h4>
    <h5 id="usernameBox">Not logged in...</h5>
    <h4 class="profileInfoText">
        Password:
    </h4>
    <h5 id="passwordBox">Not logged in...</h5>
</div>

<!--Footer-->
<footer id="footer" class="page-footer transparent" style="position:fixed;bottom:0;left:0;width:100%;">
    <div class="footer">
        <div class="container center" id="copyright">
            © 2019 Copyright
        </div>
    </div>
</footer>