/* === LOGIN PAGE === */
body{
    background: url("https://wallpaperaccess.com/full/231696.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.loginLogo{
    text-align: center;
    font-family: cursive;
    font-family: 'Marck Script', cursive;
    color: #47a69a;
    font-size: 100px;
    margin: 40px auto 30px auto;
    text-decoration: underline;
    text-decoration-style: dotted;
}
.loginBox {
    border: outset #e6c8ba 2px;
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 5px;
    background: rgba(90, 90, 90, .75)
}
.inputLines{
    text-align: center;
    color: white;
    width: 80% !important
}
#loginInput {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    color: #ece8e3;
}
h2{
    margin: auto
}
/* === NAVBAR === */
.brand-logo{
    font-family: 'Marck Script', cursive;
}
.lnk{
    font-family: 'Rancho', cursive;
    letter-spacing: 1px;
    text-decoration: underline gray;
    font-size: 25px
}
.lnk:hover{
    color: #47a69a
}

/* === HOME PAGE === */
#homeBox{
    background: rgba(59, 63, 80,0.90);
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin: 150px auto;
    padding: 50px;
    border: outset 2px #807e7f;
}
#welcome {
    margin: auto !important;
    font-family: 'Kaushan Script', cursive;
    color: #ece8e3;
}
#adventure {
    background: gray;
    border: outset darkgray 2px;
    padding: 10px;
    margin: auto;
    text-align: center
}

/* === MEDIA QUERIES === */
@media only screen and (min-width: 700px) {
    #mainNavbar {
        width: 75%;
        margin: auto;
    }
}
@media only screen and (max-width: 400px) {
    .brand-logo{
        font-size: 24px !important;
    }
    #homeBox {
        padding: 25px
    }
    #errImg{
        width: 200px;
        height: 200px
    }
}